body{
    background-color: antiquewhite;
}
.navbar-nav
{
    margin-top: 15px!important;
}

.card > img{
    width: 100%!important;
    height: auto;
}

div#animatedText 
{
     width: 0px; height: 2em; white-space: nowrap; overflow: hidden;
}
