<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Data Structure</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Design Pattern</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Algorithm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">English</a>
        </li>
    </ul>
</nav>