<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sj23-ocg</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Portfolio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SkypeIntlPlanningPortfolioEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SkypeIntlPortfolio.Ajax.SkypeIntlPlanningPortfolioEntities, SkypeIntlPortfolio.Ajax" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EOLandProductsEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=skypeintl;Initial Catalog=EOLandProducts;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EOLandProductsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EOLandProductsEntities.csdl|res://*/EOLandProductsEntities.ssdl|res://*/EOLandProductsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skypeintl;initial catalog=EOLandProducts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SkypeIntlMonitoringContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SkypeIntlMonitoring.Data.SkypeIntlMonitoringContext, SkypeIntlMonitoring.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SkypeIntlMonitoringEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SkypeIntlPortfolio.Ajax.SkypeIntlMonitoringEntities, SkypeIntlPortfolio.Ajax" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="oResourcesEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=skypeintl;Initial Catalog=oResources;User ID=lowLevelReader;Password=M1cr0s0ft;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\oResourcesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/oResourcesEntities.csdl|res://*/oResourcesEntities.ssdl|res://*/oResourcesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skypeintl;initial catalog=oResources; user id=lowLevelReader;password=M1cr0s0ft; MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EOLandProductsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)oResourcesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SkypeIntlMonitoringContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SkypeIntlMonitoringEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SkypeIntlPlanningPortfolioEntities-Web.config Connection String" />
  </ItemGroup>
</Project>